/* Document styling */
body {
	width: 960px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
section {
	margin-bottom: 40px;
}
h1 {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: 1em 0 0.5em 0;
}
h2 {
	font-weight: 300;
}
a {
	color: #0088cc;
	text-decoration: none;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}
#info {
	height: 20px;
}

footer {
	margin: 50px 0 30px 0;
}
footer p {
	font-size: 11px;
}

/* App styling */
.visible {
}

.hidden {
	display: none;
}

.nav-link {
	padding: 5px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

